/*header,footer and content - start*/

body {
  font-family: "Helvetica Neue", Roboto, Arial, sans-serif;
  position: relative;
  font-size: 11px;
  background: #FFF;
}

.footer {
	bottom : 12px;
	border-top: 1px solid red;
    padding-top: 9px;
}

.logo {
	background-image: url("logo.png");
  padding: 22px;
  background-repeat: no-repeat;
}

.header {
	position: relative;
    top: 21px;
    border-bottom: 1px solid red;
    height: 45px;
}

.content {
	position: relative;
	min-height: 500px;
	top:47px;
	font-size:14px;
	margin-bottom: 85px;
	left:40px;

}

.chevron-logo-text {
	margin-left: 30px;
    display: inline;
    color: darkblue;
    font-size: 20px;
}

/*header,footer and content - end*/

/*Search page - start*/
.search-text-heading {
    color: darkblue;	
}

.search-text {
	margin : 33px 0px;
}

.search-text input[type="text"] {
	width: 400px;
}

.btn-search {
	margin-left: 87px;
}

.search-text-heading, .search-text {
	font-size: 15px;
}
/*Search page - end */

/*Search results page - start*/

.back-to-search {
	margin-left: 406px;
}

.results-count-text {
	font-weight: bold;
	margin-top: 20px;
}
.search-results-heading {
	font-weight: bold;
}

.table {
    display:table;
    margin:36px 0px;
    font-size: 15px;
}
.table-header {
    display:table-header-group;
    font-weight:bold;
    font-size: 16px;
}
.row {
    display:table-row;
}
.rowGroup {
    display:table-row-group;
}
.cell {
    display:table-cell;
    width:20%;
}

/*Search results page - end*/

/*Search comparison page - start*/

.table.comparison-table {
	margin: 0 0 36px;
}
.comparison-second-table .cell {
	width: 15%;
}
.comparison-table .cell {
	width: 11%;
}
.comparison-1 {
	color: brown;
	font-weight: bold;
	font-size: 18px;
	left: 334px;
    position: relative;
}
.comparison-2 {
	position: relative;
	left:531px;
	color: blue;
	font-weight: bold;
	font-size: 18px;

}

.comparison-text {
	padding: 31px 0 0;
    width: 890px;
}

.sub-cell {
	position: relative;
    left: 20px;
}
.value {
	color: blue;
}

.table-header.comparison-heading span {
	    position: relative;
    bottom: 13px;
}
.comparison-heading {
	text-decoration: underline;
	font-weight: bold;
	margin-top:32px;
	font-size: 16px;
}

.competitor-product, .competitor-value {
	color: brown;
}

.company-product {
	color:blue;
}

button {
	width : 152px;
}
.comparison-buttons {
	position: relative;
	left: 150px;
}

.back-to-search-results {
	margin-left: 72px;
}
/*Search comparison page - end*/